:root {
  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);
  --bg-light:  hsl(0 0% 100%);
  --bg: hsl(0 0% 95%);
  --bg-dark: hsl(0 0% 90%);
  --border: hsl(0 0% 50%);
  --primary: hsl(240 100% 90%);
  --secondary: hsl(240 100% 98%);
  --danger: hsl(360 100% 60%);
  --warning: hsl(55 100% 60%);
  --success: hsl(98 100% 60%);
  --info: hsl(200 100% 60%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(0 0% 100%);
  --border-card: solid 1px var(--border);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body.dark {
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 5%);
  --bg-light: hsl(0 0% 10%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);
  --border: hsl(0 0% 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(0 0% 60%);
  --border-card: solid 1px var(--bg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-light);
  color: var(--text-muted);
}

h1,
h2 {
  color: var(--text);
}

button {
  background: var(--primary);
  padding: 0.5rem 1rem 0.7rem 1rem;
  color: var(--text);
  font-weight: 700;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  border: none;
}

#testdiv {
  background: var(--gradient);
  padding: 1.5rem;
  border-radius: 1rem;
  border: var(--border-card);
  border-top: solid 1px var(--highlight);
  box-shadow: var(--shadow);
}

#testdiv:hover {
  background: var(--gradient-hover);
}
